[Desktop Entry]
Version=1.0
Type=Application
Name=HTTPShare Server
Comment=Сервер для удаленного управления изображениями
Exec=/home/mon/httpshare/start-server.sh
Terminal=false
X-GNOME-Autostart-enabled=true
Categories=Network;
Icon=applications-graphics 